#three{
	width:1150px;
	height:1500px;
	padding:20px;
	background:#FFF;
	margin:0 auto;
}
h2{
	width:1130px;
	height:30px;
	text-align:center;
	margin-bottom:10px;
}
	
.content1{
	width:1130px;
	height:340px;
	padding:10px;
	text-indent:2em;
	line-height:25px;
	background:url(../image/xingzhi1.jpg);
	margin-bottom:20px;
}
.content2{
	width:1130px;
	height:340px;
	padding:10px;
	text-indent:2em;
	line-height:25px;
	background:url(../image/xingzhi2.jpg);
	margin-bottom:20px;
}
.content3{
	width:1130px;
	height:340px;
	padding:10px;
	text-indent:2em;
	line-height:25px;
	background:url(../image/xingzhi3.jpg);
	margin-bottom:20px;
}
.content4{
	width:1130px;
	height:340px;
	padding:10px;
	text-indent:2em;
	line-height:25px;
	background:url(../image/xingzhi4.jpg);
	margin-bottom:20px;
}
.yuedu{
	width:1110px;
	padding:0 10px;
	margin:0 auto;
	text-align:right;
	
}