#three{
	width:1150px;
	height:273px;
	margin:0 auto;
	background:#FFF;
	padding:20px;
}
#three h2{
	width:1150px;
	height:30px;
}
.content{
	width:287px;
	height:238px;
	margin-top:20px;
	float:left;
}
.content img{
	text-align:right;
}
.content p{
	width:20px;
	height:60px;
	padding:89px 5px;
	float:left;
}

#four{
	width:1150px;
	height:560px;
	margin:0 auto;
	background:#FFF;
	padding:20px;
}
#four h2{
	width:1150px;
	height:30px;
}
.content1{
	width:266px;
	height:480px;
	padding:10px;
	border-right:1px solid #000;
	float:left;
}
.content2{
	width:266px;
	height:480px;
	padding:10px;
	float:left;
}

h3{
	text-align:center;
}
.content1 p,.content2 p{
	text-indent:2em;
}