#three{
	width:1150px;
	height:560px;
	padding:20px;
	margin:0 auto;
	background-color:#fff;
}
#four{
	width:1150px;
	height:700px;
	margin:0 auto;
	padding:20px;
	background-color:#fff;
}
.biaoti{
	width:500px;
	height:80px;
	margin:0 auto;
}
.content{
	width:800px;
	height:570px;
	margin:0 auto;
	padding-left:150px;
}

h3{
	width:500px;
	height:45px;
	margin:0 auto;
}
td{
	height:50px;
}
.left{
	width:150px;
	text-align:right;
}
.right{
	width:320px;
	height:28px;
	border:1px solid #000;
}
input{
	vertical-align:middle;
}
select{
	width:171px;
	border:1px solid #000;
	color:#000;
}
textarea{
	width:380px;
	border:1px solid #000;
	resize:none;
	font-size:18px;
	color:#aaa;
	padding:20px;
}
.tijiao{
	width:320px;
	height:50px;
	background:url(../image/chuangyi_tijiao.jpg) center center no-repeat;
}