#three{
	width:1190px;
	height:600px;
	background:#FFF;
	margin:0 auto;
}
.left{
	width:850px;
	height:560px;
	margin:20px;
	float:left;
}
.right{
	background:url(../image/shouye1.png) no-repeat;
	width:240px;
	height:370px;
	padding:80px 10px 20px 30px;
	margin:65px 0;
	float:left;
}
h2{
	width:140px;
	height:30px;
	line-height:30px;
	margin:20px auto;
}
li{
	width:240px;
	height:30px;
	line-height:30px;
	margin-left:20px;
}
.right a:link,.right a:visited{
	color:#000; 
	font-size:20px;
}
.right p{
	text-align:right;
}
.right a:hover{
	color:#c59b66;
}

#four{
	width:1150px;
	height:530px;
	background:#FFF;
	padding:20px;
	margin:0 auto;
}
.f1{
	width:950px;
	height:380px;
	background:url(../image/shouye.png) no-repeat;
	padding:80px 100px 80px 100px;
}
td{
	width:
	padding:0 5px;
	text-align:center;
}
th{
	padding:0 5px;
	text-align:center;
}