#three{
	width:1150px;
	height:810px;
	background-color:#FFF;
	padding:20px;
	margin:0 auto;
}
.left{
	width:565px;
	height:810px;
	margin-right:20px;
	float:left;
}
.right{
	width:565px;
	height:810px;
	float:left;
}
.left1{
	clear:both;
	width:565px;
	height:395px;
	margin-bottom:20px;
}
.right1{
	clear:both;
	width:565px;
	height:395px;
	margin-bottom:20px;
}
.left1 img,.right img{
	float:left;
}
.left1 p,.right p{
	margin-top:60px;
	width:260px;
	margin-left:10px;
	height:20px;
	float:left;
}